<!DOCTYPE html>
<html lang="en">
	<head id="header">
		<title>确认商品</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="baidu-site-verification" content="z8EeuYl0nS" />
		<meta name="keywords" content="简希">
		<meta name="description" content="简希">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/basic.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/weui.min.css" rel="stylesheet" />
		<script src="js/rem.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/base.js" type="application/javascript"></script>
		<style>
			.manage{
  height:1.60rem;
  border-bottom:solid 1px #e0e0e0;
}
.manage_cont{
  width:100%;
  height:1.20rem;
  font-size:.34rem;
}
.address_left{
  width:60%;
}
.address_left image{
  width: .30rem;
  height:.32rem;
  margin-right: .10rem;
}
.infor_left image{
  width: .30rem;
  height:.32rem;
}
.user_address {
  height:50%;
}
.address_infor{
  height:50%;
}
.address_right{
  width:40%;
  text-align:right;
}
.product{
  border-bottom:solid 1px #e0e0e0;
}
.product_box{
  height:2.30rem;
}
.product_detail{
  width:100%;
  height:1.40rem;
}
.product_left{
  width:32%;
  height:1.96rem;
}
.product_left image{
  width:1.96rem;
  height:1.96rem;
}
.product_right{
  width:68%;
  height:1.96rem;
}
.product_price{
  width:100%;
}
.test{
  height:100%;
  display:flex;
  flex-flow: row wrap;
  align-content:space-between;
}
.product_price{
  width:100%;
  height:50%;
}
.product_top{
  height:40%;
}
.submit_info{
  width:1.66rem;
  height:.70rem;
  line-height:.70rem;
  margin:0;
  float:right;
  background:#fff;
  border:solid 1px #e83632;
  color:#666;
}
.infor_left{
  width:6%;
}
.infor_right{
  width:94%;
}
.way_left{
  width:50%;
  height:.70rem;
}
.way_left image{
  width:.30rem;
  height:.30rem;
  margin-right:.10rem;
}
.confirm_btn{
  height:1.00rem;
  line-height: 1.00rem;
  text-align: center;
  width:100%;
  position: fixed;
  bottom: 0;
  border-top:solid 1px #e0e0e0;
}
.confirm_left{
  width:60%;
  text-align: right;
}
.confirm_right{
  width: 30%;
  height:100%;
  background: #ffbc2c;
}
.choose_number{
  height:1rem;
}
</style>
	</head>
	<body>

		<div id="app">
			<div class="w750">
				<div class="manage w690 flex">
					<!-- 没有选择地址 -->
					<div class="address_blank font30 color6" v-if="addressData&&addressData.length==0" @click="intoAddress('userAddress',type)">添加地址</div>
					<div class="manage_cont" @click="intoAddress('userAddress',type)" v-else>
						<div class="user_address flex color3">
							<div class="address_left flex font30">
								{{addressData?addressData[0].name:''}}
							</div>
							<div class="address_right font28">
								{{addressData?addressData[0].phone:''}}
							</div>
						</div>
						<div class="address_infor flex">
							<div class="infor_right avoidOverflow font28">
								{{addressData?addressData[0].city:''}}{{addressData?addressData[0].detail:''}}

							</div>
						</div>
					</div>
				</div>
				<div class="product" v-for="item in mainData.products">
					<div class="product_box w690 flexRowBetween">
						<div class="product_left">
							<img :src="item.mainImg&&item.mainImg[0].url?item.mainImg[0].url:''" />
						</div>
						<div class="product_right">
							<div class="product_detail">
								<div class="font32 color3 product_top avoidOverflow">{{item.title}}</div>
								<div class="font24 color9 avoidOverflow">{{item.description}}</div>
								<div class="font30 color6 product_price flex" v-if="userData.level==1">
									<span style="width:80%">
									￥{{item.price_one}}
									</span>
									<span class="color_r" style="text-align: right;">
									x{{item.count}}
									</span>
								</div>
								<div class="font30 color6 product_price flex" v-if="userData.level==2">
									<span style="width:80%">
									￥{{item.price_two}}
									</span>
									<span class="color_r" style="text-align: right;">
									x{{item.count}}
									</span>
								</div>
								<div class="font30 color6 product_price flex" v-if="userData.level==3">
									<span style="width:80%">
									￥{{item.price_three}}
									</span>
									<span class="color_r" style="text-align: right;">
									x{{item.count}}
									</span>
								</div>
								<div class="font30 color6 product_price flex" v-if="userData.level==4">
									<span style="width:80%">
									￥{{item.price_four}}
									</span>
									<span class="color_r" style="text-align: right;">
									x{{item.count}}
									</span>
								</div>
								<div class="font30 color6 product_price flex" v-if="userData.level==5">
									<span style="width:80%">
									￥{{item.price_five}}
									</span>
									<span class="color_r" style="text-align: right;">
									x{{item.count}}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="choose_number w690 flexRowBetween">
					<div class="number_txt">
						数量
					</div>
					<div class="edit_number flexRowBetween">
						<div class="minus" style="line-height:45rpx;border-right: solid 1px #e5e5e5;">-</div>
						<div class="number">1</div>
						<div class="add">+</div>
					</div>
				</div> -->
				<div class="confirm_btn flexRowBetween font30">
					<div class="confirm_left">合计:<span class="color_r"> ￥{{totalPrice}}</span></div>
					<div class="confirm_right color1" @click="pay">提交订单</div>
				</div>

				<!--end toast-->

				<!-- loading toast -->
				<div v-if="isLoad">
					<div class="weui-mask_transparent"></div>
					<div class="weui-toast">
						<i class="weui-loading weui-icon_toast"></i>
						<p class="weui-toast__content">数据加载中...</p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript " src="js/bootstrap.js"></script>
		<script type="text/babel">
			var app = new Vue({
				el: '#app',
				data: function() {
					return {
						
						paginate: {
							count: 0,
							currentPage: 1,
							pagesize: 10,
							is_page: true,
						},
						userData: [],
						order_array: [],
						parentMainData: [],
						addressData: [],
						totalPrice: 0,
						isLoad: false

					}

				},
				mounted() {

				},
				computed: {

				},

				created: function() {
					const self = this;
					self.isLoad = true;

					
					self.searchItem = {};
					if (localStorage.getItem('address_id')) {
						self.searchItem.id = localStorage.getItem('address_id');
					} else {
						self.searchItem.isdefault = 1;
					};
					
				

					self.getAddressData();
					
					self.getMainData();
					


				},



				methods: {



					getMainData() {
						const self = this;
						self.mainData = {
							products:[]
						};
						self.mainData.products = window.base.getStorageArray('payPro');
						for (var i = 0; i < self.mainData.products.length; i++) {
							window.base.delStorageArray('payPro',self.mainData.products[i],'id');
						}
						
						console.log('onShow', self.mainData);
						self.userGet();
						
						self.isLoad = false;
					},

					pay(e) {
						const self = this;
						const productData = [
		
						];
						if (self.addressData.length == 0) {
							alert('请添加收货地址')
							return
						};
						self.isLoad = true;
						for (var i = 0; i < self.mainData.products.length; i++){
							productData.push({
								id: self.mainData.products[i].id,
								count: self.mainData.products[i].count,
							})
						};
						var orderList = [{
							product: productData,
						}];
						const postData = {
							token: localStorage.getItem('merchant_token'),
							orderList: orderList,
							type: 1,
							data: {
								agent_no: localStorage.getItem('merchant_agent_no'),	
							},
							snap_address:self.addressData[0]
						};
						const callback = (res) => {
							if (res && res.solely_code == 100000) {
								self.isLoad = false;
								alert('提交成功');
								
								
								window.location.href = 'wxBusinessOrder.html'
							} else {
								alert(res.msg);
							};
						};
						window.base.addOrder(postData, callback);
					},
					
					
				
					userGet() {
						const self = this;
						const postData = {
							token: localStorage.getItem('merchant_token'),
							thirdapp_id: 2,
							searchItem: {
								user_no: localStorage.getItem('merchant_no')
							}
						};
						const callback = (res) => {
							if (res.info.data.length > 0) {
								self.userData = res.info.data[0]
							} else {
								alert('数据错误')
							}
							self.countTotalPrice();
							console.log(self.userData)
						}
						window.base.userInfoGet(postData, callback);
					},

					getAddressData() {
						const self = this;
						const postData = {};
						if (self.type == 'user') {
							postData.token = localStorage.getItem('user_token');
						} else {
							postData.token = localStorage.getItem('merchant_token');
						};
						postData.searchItem = window.base.cloneForm(self.searchItem);
						const callback = (res) => {
							if (res.info.data.length > 0) {
								self.addressData = res.info.data;
								
							};
						};
						window.base.addressGet(postData, callback);
					},

					

				

					countTotalPrice() {
						const self = this;
						
						
						for (var i = 0; i < self.mainData.products.length; i++) {
							
								if(self.userData.level==1){
									self.totalPrice += parseFloat(self.mainData.products[i].price_one) * parseFloat(self.mainData.products[i].count)
								}else if(self.userData.level==2){
									self.totalPrice += parseFloat(self.mainData.products[i].price_two) * parseFloat(self.mainData.products[i].count)
								}else if(self.userData.level==3){
									self.totalPrice += parseFloat(self.mainData.products[i].price_three) * parseFloat(self.mainData.products[i].count)
								}else if(self.userData.level==4){
									self.totalPrice += parseFloat(self.mainData.products[i].price_four) * parseFloat(self.mainData.products[i].count)
								}else if(self.userData.level==5){
									self.totalPrice += parseFloat(self.mainData.products[i].price_five) * parseFloat(self.mainData.products[i].count)
								}
								
						
						};
						console.log(parseFloat(self.mainData.products[0].price_three) * parseFloat(self.mainData.products[0].count))
					},
					


					intoPath(url) {
						var into_url = url;
						if (self.addressData.length == 0) {
							alert('请添加收货地址')
							return
						};
						window.location.href = into_url + '.html'
					},

					intoAddress(url, type) {
						var into_url = url;
						window.location.href = into_url + '.html' + '?type=' + type
					},

				}

			});
		</script>
	</body>
</html>
