<!DOCTYPE html>
<html lang="en">
	<head id="header">
		<title>下属代理</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="baidu-site-verification" content="z8EeuYl0nS" />
		<meta name="keywords" content="简希">
		<meta name="description" content="简希">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/basic.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<script src="js/rem.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/base.js" type="application/javascript"></script>
		<style>
			.perfomence{
  width:100%;
  height:2.66rem;
  border-radius:0.2rem;
  margin-top:0.3rem;
}
.perfomence_left{
  width:90%;
}
.perfomence_right{
  width:10%;
  text-align:right;
}
.perfomence_right img{
  width:0.14rem;
  height:0.22rem;
}
.perfomence_left p{
  font-size:0.28rem;
}
.perfomence_left span{
  display:inline-block;
  margin-right:0.4rem;
}
</style>
	</head>
	<body style="background:#f2f2f2">

		<div id="app">
			<div class="w750">

				<div class="w690">
					<div class="w690 perfomence bg1 flexRowBetween" v-for="item in mainData">
						<div class="perfomence_left">
							<p><span class="color6">姓名</span><span>{{item.name}}</span></p>
							<p><span class="color6">电话</span><span>{{item.phone}}</span></p>
							<p><span class="color6">省市</span><span>{{item.province}}</span></p>
							<p v-if="item.level==1"><span class="color6" >级别</span><span>联创</span></p>
							<p v-if="item.level==2"><span class="color6" >级别</span><span>品牌官方</span></p>
							<p v-if="item.level==3"><span class="color6" >级别</span><span>大区主管</span></p>
							<p v-if="item.level==4"><span class="color6" >级别</span><span>经销商</span></p>
							<p v-if="item.level==5"><span class="color6" >级别</span><span>VIP</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript " src="js/bootstrap.js"></script>
		<script type="text/babel">
			var app = new Vue({
				el: '#app',
				data: function() {
					return {
						mainData: [],
						paginate:{
							count: 0,
							currentPage: 1,
							pagesize: 6,
							is_page: true,
						}
					}

				},
				
				mounted() {
					window.addEventListener('scroll', this.handleScroll)
				},
				
				computed: {
					// 计算属性的 getter
					stringifyOrder: function() {
						return JSON.stringify(this.order).replace(/\"/g, "");
					}
				},
				created: function() {
					const self = this;
					var callback = (res) => {
					
						self.getMainData()
					
					};
					window.base.getMerchantToken(callback);
				},

				methods: {
					
					handleScroll() {
						var wScrollY = window.scrollY; // 当前滚动条位置  
						var wInnerH = window.innerHeight; // 设备窗口的高度（不会变）  
						var bScrollH = document.body.scrollHeight; // 滚动条总高度      
						if ((wScrollY + wInnerH >= bScrollH) && !this.isLoadAll && !this.buttonClick) {
							this.buttonClick = true;
							this.paginate.currentPage++;
							this.getMainData();
						};
					},

					getMainData() {
						const self = this;
						const postData = {
							token: localStorage.getItem('merchant_token'),
							thirdapp_id: 2
						};
						postData.paginate = window.base.cloneForm(self.paginate);
						postData.searchItem = {
							parent_wechat:localStorage.getItem('merchant_wechat'),
							user_type:1,
							behavior:2
						};
						const callback = (res) => {
							if (res.info.data.length > 0) {
								self.mainData.push.apply(self.mainData,res.info.data)
							} else {
								alert('没有更多了')
							}
							console.log(self.mainData)
						}
						window.base.userInfoGet(postData, callback);
					},

					intoPath(url) {
						console.log(url);
						var into_url = url;
						console.log(into_url);
						window.location.href = into_url + '.html'
					},
				}

			});
		</script>
	</body>
</html>
